<div class="row">
  <div class="col-xs-12">
    <form action="">
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" style="margin: 20px">Save</button>
          <button class="btn btn-danger">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Recipe Name</label>
            <input
              type="text"
              id="name"
              class="form-control"
              placeholder="name"
            />
          </div>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">Image URL</label>
            <input
              type="text"
              id="imagePath"
              class="form-control"
              placeholder="Path to the image"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img src="" alt="" class="img-responsive" />
        </div>
      </div>
      <br />
      <div class="row-">
        <div class="col-xs-12">
          <label for="description">Description</label>
          <textarea
            id="description"
            name="description"
            type="textarea"
            id="description"
            class="form-control"
            placeholder="Description"
          ></textarea>
        </div>
      </div>
      <br />
      <div class="mb-3 row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-8">
              <input type="text" class="form-control" />
            </div>
            <div class="col-sm-2">
              <input type="number" class="form-control" />
            </div>
            <div class="col-sm-2">
              <button class="btn btn-danger">X</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
